@import "actor.css";

body{background: #34495e; overflow-y: hidden;}

.layoutFullSection{ width: 100%; }
.layoutSignInArticle{ width: 340px; margin: 0 auto; }
.layoutJoinArticle{ width: 700px; margin: 0 auto; background: #fafafa; border-radius: 2px;}

.colorOrange{ color: #feca6d; }

.colorGray{ color: #9f9f9f; font-size: 75%;}
.colorGrayHover{ color: #9f9f9f; }
.colorGrayHover:hover{ color: #737373; text-decoration: underline;}