@import "actor.css";
@import "volume.css";

body{ background: #34495e; overflow-y: hidden; height: 100%;}

.layoutFullSection{ width: 100%; height: 100%;}
.layoutSignInArticle{ width: 340px; margin: 0 auto; }
.layoutJoinArticle{ width: 500px; margin: 0 auto; background: #fafafa; border-radius: 2px;}
.layoutForgotArticle{ width: 400px; margin: 0 auto;}

.colorOrange{ color: #feca6d; }

.colorGray{ color: #9f9f9f; font-size: 75%;}
.colorGrayHover{ color: #9f9f9f; }
.colorGrayHover:hover{ color: #737373; text-decoration: underline;}

.orangeButton{ background: #f39d41; color: #fff; font-size: 75%; border-radius: 4px; border: 0px; padding: 8px 10px; }
.orangeButton:hover{ background: #e08a2e; }

/**
* Navigation
*/
.navigation{ width: 200px; height: 100%; position: fixed; background: #34495e; z-index: 10;}
.navigation header{ padding: 20px; width: 160px;}
.navigation header h1{ font-size: 81.25%; font-weight: bold; color: #fff; padding: 5px 0; }
.navigation header h2{ font-size: 75%; color: #fff; padding: 5px 0; font-weight: 100;}

.navigation .menu{ width: 200px; margin: 2px 0;}
.navigation .menu>li{ width: 100%; }
.navigation .menu>li.title{ border-top: 1px solid #5d6d7e; border-bottom: 1px solid #5d6d7e;}
.navigation .menu>li.title>a{ font-size: 75%; color: #fff; width: 160px; padding: 12px 20px; display: block; letter-spacing: .6px; }
.navigation .menu>li.title>a:hover{ color: #eb7636; background: #0d1620;}

.navigation .menu .submenu{ width: 100%; display: none;}
.navigation .menu .submenu>li{width: 100%;}
.navigation .submenu>li a{ width: 160px; padding: 15px 20px; display: block; color: #fff; font-size: 75%; font-weight: 100; background: url("../image/icon/dashboard.png") no-repeat 17px 12px; text-indent: 22px;}
.navigation .submenu>li a:hover{ color: #f39d41; background: url("../image/icon/dashboard-hover.png") no-repeat 17px 12px #143042;}

/**
* Common layout section
*/
.layoutContentSectionWrap{ position: fixed; width: 100%; height: 100%; z-index: 5;}
.layoutContentSection{ margin: 0 0 0 200px; overflow-y: scroll; background: #fff; min-height: 100%; max-height: 100%; }

.layoutContentSection header{ width: 100%; }
.layoutContentSection header h2{ margin: 15px 0 5px 20px; padding: 5px 20px 5px 0; font-size: 81.25%; text-indent: 10px; border-left: 5px solid #666666;}