
/**
* Volume filter form
*/
.volumeFilterForm{ padding: 20px; }
.volumeFilterForm>ul{ height: 30px;}
.volumeFilterForm>ul>li{ float: left; margin-right: 10px;}

.volumeFilterForm .searchIcon{ padding: 4px; margin:1px 10px 1px 0; background: #2f5168; border-radius: 5px;}
.volumeFilterForm .searchIcon>img{ float: left; width: 18px; padding: 1px;}

.volumeFilterForm .search{ width: 200px; height: 26px; border: 2px solid #cccccc; padding: 0 6px; font-size: 75%; border-radius: 5px; }
.volumeFilterForm .search:focus{ border: 2px solid #777777; }

.volumeFilterForm .dateIcon{ padding: 4px; margin:1px 10px 1px 0; background: #2f5168; border-radius: 5px;}
.volumeFilterForm .dateIcon>img{ float: left; width: 18px; padding: 1px;}
.volumeFilterForm .date{ width: 80px; height: 26px; border: 2px solid #cccccc; padding: 0 6px; font-size: 75%; border-radius: 5px; text-align: center; cursor: pointer; color: #ccc;}
.volumeFilterForm .date:focus{ border: 2px solid #777777; color: #000; }

.volumeListArticle{ width: 100%;}

.volumeListArticle .list{ width: 100%; }
.volumeListArticle .list .one{ width: 25%; float: left;}

.volumeListArticle figure{ width: 86%; float: left; padding: 10px 7%;}
.volumeListArticle figcaption{ width: 100%; border-left: 8px solid #ccc; border-right: 8px solid #ccc; padding: 5px 0 10px 0; margin: 0 0 12px 0; background: #ccc;}
.volumeListArticle figcaption span{ font-size: 75%; line-height: 1.2;}
.volumeListArticle figcaption a.name{ font-weight: bold; font-size: 75%; color: #000;}
.volumeListArticle figcaption span.number{ margin-left: 8px;}

.volumeListSlider img{ width: 100%; }
.volumeListSlider { width: 100%; max-height: 290px; overflow: hidden; border-left: 8px solid #ccc; border-right: 8px solid #ccc; border-top: 8px solid #ccc; }

/**
* Volume form
*/

.volumeForm{ padding: 20px 30px; }
.volumeForm ul{ width: 260px; float: left;}

.volumeForm li>label{ width: 100%; display: block; font-size: 75%; padding: 10px 0;}
.volumeForm li>textarea{ width: 88%; height: 50px; border: 2px solid #ccc; padding: 6px; font-size: 75%; border-radius: 5px; resize: none;}
.volumeForm li>textarea:focus{ border: 2px solid #777;}
.volumeForm li>input.text{ width: 88%; height: 26px; border: 2px solid #cccccc; padding: 0 6px; font-size: 75%; border-radius: 5px; }
.volumeForm input.text:focus{ border: 2px solid #777777;}

.volumeBtnWrap{ width: 585px; clear: left; padding-top: 15px; text-align: center;}
.volumeDataBtn{ width: 124px; height: 34px; }

.volumeRenderingSampleWrap{ width: 430px; float: left; padding: 10px 30px; }
.volumeRenderingSampleWrap figure{ width: 150px; float: left; padding: 10px 10px 0 10px; background: #000000;}
.volumeRenderingSampleWrap figure:nth-child(1){ border-radius: 5px 0 0 0; }
.volumeRenderingSampleWrap figure:nth-child(2){ border-radius: 0 5px 0 0; }
.volumeRenderingSampleWrap figure:nth-child(3){ border-radius: 0 0 0 5px; padding-bottom: 10px;}
.volumeRenderingSampleWrap figure:nth-child(4){ border-radius: 0 0 5px 0; padding-bottom: 10px;}
.volumeRenderingSampleWrap figure img{ width: 150px; }
.volumeRenderingSampleWrap figure figcaption{ width: 150px; height: 20px; font-size: 75%; line-height: 20px; text-align: center; color: #fafafa;}