
/**
* Volume filter form
*/
.volumeFilterForm{ padding: 20px; }
.volumeFilterForm>ul{ height: 30px;}
.volumeFilterForm>ul>li{ float: left; margin-right: 10px;}

.volumeFilterForm .searchIcon{ padding: 4px; margin:1px 10px 1px 0; background: #2f5168; border-radius: 5px;}
.volumeFilterForm .searchIcon>img{ float: left; width: 18px; padding: 1px;}

.volumeFilterForm .search{ width: 200px; height: 26px; border: 2px solid #cccccc; padding: 0 6px; font-size: 75%; border-radius: 5px; }
.volumeFilterForm .search:focus{ border: 2px solid #777777; }

.volumeFilterForm .dateIcon{ padding: 4px; margin:1px 10px 1px 0; background: #2f5168; border-radius: 5px;}
.volumeFilterForm .dateIcon>img{ float: left; width: 18px; padding: 1px;}
.volumeFilterForm .date{ width: 80px; height: 26px; border: 2px solid #cccccc; padding: 0 6px; font-size: 75%; border-radius: 5px; text-align: center; cursor: pointer; color: #ccc;}
.volumeFilterForm .date:focus{ border: 2px solid #777777; color: #000; }

.volumeListArticle{ width: 100%;}

.volumeListArticle .list{ width: 100%; }
.volumeListArticle .list .one{ width: 25%; float: left;}

.volumeListArticle figure{ width: 86%; float: left; padding: 10px 7%;}
.volumeListArticle figcaption{ width: 100%; border-left: 8px solid #ccc; border-right: 8px solid #ccc; padding: 5px 0 10px 0; margin: 0 0 12px 0; background: #ccc;}
.volumeListArticle figcaption span{ font-size: 75%; line-height: 1.2;}
.volumeListArticle figcaption a.name{ font-weight: bold; font-size: 75%; color: #000;}
.volumeListArticle figcaption span.number{ margin-left: 8px;}

.volumeListSlider img{ width: 100%; }
.volumeListSlider { width: 100%; max-height: 290px; overflow: hidden; border-left: 8px solid #ccc; border-right: 8px solid #ccc; border-top: 8px solid #ccc; }
