<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="actor">

    <insert id="insert" parameterType="Actor">
        INSERT INTO
          `actor`
          ( `username`, `password`, `enabled` )
        VALUES
          ( #{username}, #{password}, #{enabled} )
        <selectKey keyProperty="pn" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    
    <update id="update" parameterType="Actor">
        UPDATE
          `actor`
        SET
          `username` = #{username},
          `password` = #{password},
          `enabled` = #{enabled}
        WHERE
          `pn` = #{pn}
    </update>
    
    <update id="updateActorInfo" parameterType="ActorInfo">
        UPDATE
          `actor_info`
        SET
          `lastName` = #{lastName},
          `firstName` = #{firstName},
          `updateDate` = SYSDATE()
        WHERE
          `email` = #{email}
    </update>
    
    <delete id="delete" parameterType="Integer">
        DELETE FROM
          `actor`
        WHERE
          `pn` = #{pn}
    </delete>
    
    <select id="selectOne" parameterType="Integer" resultType="Actor">
        SELECT
          `pn`, `username`, `password`, `enabled`
        FROM
          `actor`
        WHERE
          `pn` = #{pn}
    </select>
    
    <select id="selectUsersByUsername" parameterType="String" resultType="Actor">
        SELECT
          `pn`, `username`, `password`, `enabled`
        FROM
          `actor`
        WHERE
          `username` = #{username}
    </select>
    
    <insert id="insertActorInfo" parameterType="ActorInfo">
        INSERT INTO
          `actor_info`
          ( `actorPn`, `email`, `firstName`, `lastName`, `inputDate`, `updateDate`)
        VALUES
          ( #{actor.pn}, #{email}, #{firstName}, #{lastName}, SYSDATE(), SYSDATE() )
    </insert>
    
    <select id="selectUsernameExist" parameterType="String" resultType="Integer">
        SELECT
          COUNT(*)
        FROM
          `actor`
        WHERE
          `username` = #{username}
    </select>
    
    <select id="selectEmailExist" parameterType="String" resultType="Integer">
        SELECT
          COUNT(*)
        FROM
          `actor_info`
        WHERE
          `email` = #{email}
    </select>
    
    <select id="selectUsernameFromEmail" parameterType="String" resultType="String">
        SELECT
          `username`
        FROM
          `actor` AS `a`,
          `actor_info` AS `ai`
        WHERE
          a.`pn` = ai.`actorPn`
        AND
          ai.`email` = #{email}
    </select>
    
    <select id="selectEmailFromUsername" parameterType="String" resultType="String">
        SELECT
          `email`
        FROM
          `actor` AS `a`,
          `actor_info` AS `ai`
        WHERE
          a.`pn` = ai.`actorPn`
        AND
          a.`username` = #{username}
    </select>
    
    <select id="selectOneFromUsername" parameterType="String" resultType="ActorInfo">
        SELECT
          a.`pn` AS `actor.pn`, a.`username` AS `actor.username`,
          ai.`email`, ai.`firstName`, ai.`lastName`, ai.`inputDate`, ai.`updateDate`
        FROM
          `actor` AS `a`,
          `actor_info` AS `ai`
        WHERE
          a.`pn` = ai.`actorPn`
        AND
          a.`username` = #{username}
    </select>
    
</mapper>
