<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		
		<typeAlias type="com.nornenjs.web.actor.Actor" alias="Actor"/>

		<typeAlias type="com.nornenjs.web.group.Groups" alias="Groups"/>
		<typeAlias type="com.nornenjs.web.group.GroupMembers" alias="GroupMembers"/>
		<typeAlias type="com.nornenjs.web.group.GroupAuthorities" alias="GroupAuthorities"/>
		
		<typeAlias type="com.nornenjs.web.board.Board" alias="Board"/>
		
		<typeAlias type="com.nornenjs.web.data.Data" alias="Data"/>
		<typeAlias type="com.nornenjs.web.data.DataFilter" alias="DataFilter"/>
		
	</typeAliases>
</configuration>