<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="volume">

    <insert id="insert" parameterType="Volume">
        INSERT INTO
          `volume`
          ( `username`, `volumeDataPn`, `title`, `width`, `height`, `depth`, `inputDate` )
        VALUES
          ( #{username}, #{volumeDataPn}, #{title}, #{width}, #{height}, #{depth}, SYSDATE() )
        <selectKey keyProperty="pn" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    
    <delete id="delete" parameterType="Integer">
        DELETE FROM
          `volume`
        WHERE
          `pn` = #{pn}
    </delete>
    
    <update id="update" parameterType="Volume">
        UPDATE 
          `volume`
        SET
          `title` = #{title}
        WHERE
          `pn` = #{pn}
    </update>
    
    <update id="updateData" parameterType="Volume">
        UPDATE
          `volume`
        SET
          `volumeDataPn` = #{volumeDataPn},
          `width` = #{width},
          `height` = #{height},
          `depth` = #{depth}
        WHERE
          `pn` = #{pn}
    </update>
    
    <select id="selectMaxVolume" resultType="Integer">
        SELECT
          MAX(`pn`)
        FROM
          `volume`
    </select>

    <select id="selectOne" parameterType="Integer" resultType="Volume">
        SELECT
          `pn`, `username`, `volumeDataPn`, `title`, `width`, `height`, `depth`, `inputDate`
        FROM
          `volume`
        WHERE
          `pn` = #{pn}
    </select>
    
    <select id="selectCount" parameterType="VolumeFilter" resultType="Integer">
        SELECT
          COUNT(*)
        FROM
          `volume` AS `v`,
          (
            SELECT `dataPn`, GROUP_CONCAT(`thumbnailPn`) AS `thumbnailPns`
            FROM `thumbnail`
            GROUP BY `dataPn`
          ) `gt`
        WHERE
          v.`volumeDataPn` = gt.`dataPn`
        AND
          v.`username` = #{username}
        <if test="title != null">
          AND
            v.`title` LIKE CONCAT('%',#{title},'%')
        </if>
        <if test="from != null and to != null">
          AND
            DATE_FORMAT(v.`inputDate`, '%Y-%m-%d') BETWEEN #{from} AND #{to}
        </if>
    </select>
    
    <select id="selectList" parameterType="VolumeFilter" resultType="Volume">
        SELECT
          v.`pn`, v.`username`, v.`volumeDataPn`, v.`title`, v.`width`, v.`height`, v.`depth`, v.`inputDate`,
          gt.`thumbnailPns`
        FROM
          `volume` AS `v`,
          (
            SELECT `dataPn`, GROUP_CONCAT(`thumbnailPn`) AS `thumbnailPns`
            FROM `thumbnail`
            GROUP BY `dataPn`
          ) `gt`
        WHERE
          v.`volumeDataPn` = gt.`dataPn`
        AND
          `username` = #{username}
        <if test="title != null">
          AND
            v.`title` LIKE CONCAT('%',#{title},'%')
        </if>
        <if test="from != null and to != null">
          AND
            DATE_FORMAT(v.`inputDate`, '%Y-%m-%d') BETWEEN #{from} AND #{to}
        </if>
        ORDER BY
            `pn` DESC
        LIMIT #{pagination.itemSeqBegin}, #{pagination.numItemsPerPage}
    </select>
    
    
</mapper>
